.p-filter {
    position: fixed;
    right: 10px;
    top: 56px;
    border: 1px solid #CCC;
    padding-left: 126px;
    width: 500px;
    height: 260px;
    box-sizing: border-box;
    background: #FFF;
    z-index: 1;
    .history-list {
        padding-top: 26px;
        position: absolute;
        top: 0;
        left: 0;
        width: 126px;
        height: 100%;
        border-right: 1px solid #CCC;
        box-sizing: border-box;
        >.title {
            background: #ebebeb;
            font-size: 14px;
            font-weight: bold;
            padding: 3px;
            text-align: center;
            height: 26px;
            margin-top: -26px;
            box-sizing: border-box;
            border-bottom: 1px solid #CCC;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        >ul {
            margin: 0;
            padding: 0;
            height: 100%;
            overflow: auto;
            >li {
                list-style: none;
                padding: 2px 8px;
                font-size: 12px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                &.selected {
                    background: #03a9f4;
                }
            }
        }
    }
    .content {
        box-sizing: border-box;
        height: 100%;
        padding-bottom: 36px;
        >textarea {
            resize: none;
            border: none;
            outline: none;
            width: 100%;
            padding: 10px 5px;
            height: 100%;
        }
        .buttons {
            border-top: 1px solid #CCC;
            height: 36px;
            text-align: right;
            padding-top: 9px;
            .btn {
                border: 1px solid #CCC;
                border-radius: 5px;
                padding: 2px 12px;
                margin-right: 10px;
                font-size: 12px;
                cursor: pointer;
                background: -webkit-linear-gradient(#fafafa, #f4f4f4 40%, #e5e5e5);
                text-shadow: 1px 1px rgba(255, 255, 255, 0.3);
                box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
                &:hover {
                    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
                    background: #ebebeb -webkit-linear-gradient(#fefefe, #f8f8f8 40%, #e9e9e9);
                }
            }
        }
    }
}